.feature1 {
    position: absolute;
    left: 15%;
    top: 35%;
}

.feature2 {
    position: absolute;
    max-width: 450px;
    left: 15%;
    top: 45%;
}

.img1 {
    position: absolute;
    top: 25%;
    left: 54%;
    height: 300px;
    width: 500px;
}

.img2 {
    position: absolute;
    top: 85%;
    left: 14%;
    height: 300px;
    width: 450px;
}

.feature3 {
    position: absolute;
    max-width: 450px;
    left: 54%;
    top: 100%;
}

.feature4 {
    position: absolute;
    max-width: 450px;
    left: 54%;
    top: 110%;
}